.App {
  text-align: center;
}

.image-gallery-swipe {
  border: 2px solid black;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  margin: 5%;

  justify-content: center;
  align-items: center;
}

p {
  text-align: justify;
}
